DateTime
gensim
lxml
matplotlib
nltk
numpy
pandas
Pillow
regex
requests
sklearn
streamlit
textblob
tqdm
wordcloud
yellowbrick
# snscrape
-e git+https://github.com/JustAnotherArchivist/snscrape.git#egg=snscrape